# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# secret config variables file
.env
.env.prod
*.pem
password.txt
studiconnect-32c08-firebase-adminsdk-ryq7d-fc5c028cc6.json

/data/tmp/*
/data/profile-images/*
!/data/profile-images/default.jpg