body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1.1em;
  margin: 0em;
  padding: 0 0 5rem 0;
  overflow-x: hidden;
  background: #191d24;
  color: white;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 700;
  color: #494299;
  text-align: center;
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.563rem;
  line-height: 1.8rem;
  font-family: Lato, serif;
  font-weight: 400;
  color: #494299;
  text-align: center;
  text-decoration: none;
  display: block;
}

a {
  color: #494299;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Inhalt*/

footer {
  background: #494299;
  padding: 1rem 0;
  color: white;
  text-align: center;
  cursor: default;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: white;
}
